In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/12000-data-set-for-data-science-jobs-in-the-india/naukri_data_science_jobs_india.csv', index_col = 'Job_Role')
df.head(3)
df.sort_index(inplace = True, ascending = False)

In [3]:
df.head(10)

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
urgent hiring For data engineers - bang / any,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"hive, cloudera, python, NoSQL, spark, Cassadra..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."
senior Data Analyst,Spectral Consultants,Pune,2-5,"Logistic regression, Data analysis, Factor ana..."
senior Analyst,BNP Paribas,Chennai,2-5,"Analyst, Front office, Due diligence, Collater..."
python developer,Talent Zone Consultant,Bangalore/Bengaluru,2-6,"Computer science, Cloud computing, software ar..."
product engineers,Superior Group,Bangalore/Bengaluru,10-15,"Computer science, Hibernate, Software design, ..."
opening For Data Scientist_Hyderabad,Inventech Info Solutions Pvt. Ltd.,"Angul, Bellary/Ballari, Bareilly, Anantapur, H...",2-6,"HIVE, R, Shell, Shell., SQL, Python"
market research analyst,Seven Consultancy,"lunglei,mizoram",4-5,"Market Research Analyst, Data collection, Digi..."

In [4]:
df.loc['.NET Developer']

Company                                                        Snaphunt
Location                                                          Surat
Job Experience                                                      0-5
Skills/Description    .Net, Javascript, C#, HTML, ASP Net, SQL, anal...
Name: .NET Developer, dtype: object

In [5]:
df.loc['ACN - Applied Intelligence - C4DI - Data Modelling - 06']

Company                                                       Accenture
Location                                            Bangalore/Bengaluru
Job Experience                                                      3-5
Skills/Description    Data Modelling, IT Skills, Machine Learning, C...
Name: ACN - Applied Intelligence - C4DI - Data Modelling - 06, dtype: object

In [6]:
df.loc['Data Analyst']

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Data Analyst,Klub,Bangalore/Bengaluru,1-4,"Data Science, Sas, Database Design Development..."
Data Analyst,CoStrategix Technologies Pvt. Ltd.,Bengaluru,5-10,"BPO, data analysis, Data validation, Agile, bu..."
Data Analyst,AGRIM,Gurgaon/Gurugram,1-3,"SAN, PDF, SOC, Analytical, SMS, Data Analyst, ..."
Data Analyst,"Glassbeam, Inc",Bengaluru,1-3,"Data Analysis, Data Analyst"
Data Analyst,Samyak Infotech Pvt. Ltd,Ahmedabad,3-5,"IT Skills, Machine Learning, Cloud, Tableau, C..."
...,...,...,...,...
Data Analyst,Bayer India,"Mangaluru/Mangalore, Mangalore",2-2,"Spotfire, Biostatistics, Azure, Power BI, Data..."
Data Analyst,fundinfo AG,Chennai,1-2,"Financial sector, Mutual funds, Analytical, MS..."
Data Analyst,St. John’s Research Institute,Bengaluru,0-4,"Nutrition, Coding, CRC, Data Analyst, Research..."
Data Analyst,Malbro appliances Pvt. ltd,New Delhi(Udyog Nagar),2-7,"Excel, Accounting, Data Analysis, data audit, CRM"
Data Analyst,POST A RESUME HR Consultancy,Ahmedabad,0-4,"Excel, MIS, Analytical, Retail analysis, Data ..."

In [7]:
df.loc['Web Developer']

Company                                                        Snaphunt
Location                                                          Noida
Job Experience                                                      0-5
Skills/Description    web technologies, web development, IT Skills, ...
Name: Web Developer, dtype: object

In [8]:
df.head()

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
urgent hiring For data engineers - bang / any,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"hive, cloudera, python, NoSQL, spark, Cassadra..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."
senior Data Analyst,Spectral Consultants,Pune,2-5,"Logistic regression, Data analysis, Factor ana..."

In [9]:
df.loc[['senior Data Analyst','senior bigdata engineer or data architect']]

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
senior Data Analyst,Spectral Consultants,Pune,2-5,"Logistic regression, Data analysis, Factor ana..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."

In [10]:
# Slicinig 
df.loc['urgent requirement For data scientist': 'senior Data Analyst']

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
urgent hiring For data engineers - bang / any,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"hive, cloudera, python, NoSQL, spark, Cassadra..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."
senior Data Analyst,Spectral Consultants,Pune,2-5,"Logistic regression, Data analysis, Factor ana..."