In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/12000-data-science-jobs-ini-india/naukri_data_science_jobs_india.csv', index_col = ['Job_Role'])
df

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [3]:
df.head(5)

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [4]:
# if we need to reset the index then we will have to do 
df.reset_index(inplace = True)

In [5]:
df.head()

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [6]:
df.set_index('Company', inplace = True)

In [7]:
df.head(3)

,Job_Role,Location,Job Experience,Skills/Description
Company,,,,
UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."

In [8]:
# For making any other column as the index first reset the dataset if not then the existing index column will be dropped off by default
df.reset_index(inplace = True)

In [9]:
df.head(2)

,Company,Job_Role,Location,Job Experience,Skills/Description
0,UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."